---
export interface Props {
  title: string;
  height: number;
  width: number;
  embedId: string;
}

const {
  title,
  embedId,
  height,
} = Astro.props;

const url = `https://codepen.io/tlflow/pen/${embedId}`;
---

<p class="codepen" data-height={height} data-theme-id="dark" data-default-tab="css,result" data-slug-hash={embedId} data-user="tlflow" style="height: {height}px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="}">
  {title}</a> by Terence Flowers (<a href={url}>@tlflow</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
