---
import { getCollection } from 'astro:content'
import SVGClose from '../partials/svgs/close.astro'
import SocialBtns from '../components/SocialButtons.astro'
import ContactBtns from '../components/ContactButtons.astro'

const links = [
	{ name: 'Expertise', url: '/index.html#about' },
	{ name: 'Experience', url: '/index.html#experience' },
	{ name: 'Experiments', url: '/index.html#experiments' },
	{ name: 'About', url: '/index.html#about' },
	{ name: 'Contact', url: '/index.html#contact' },
]

const blogPosts = await getCollection('blog', ({ data }) => {
	return data.draft !== false && data.pubDate < new Date()
})
const experimentPosts = await getCollection('experiments', ({ data }) => {
	return data.draft !== false && data.pubDate < new Date()
})

const blogTags = [...new Set(blogPosts.map((post) => post.data.tags).flat())]
const experimentTags = [...new Set(experimentPosts.map((post) => post.data.tags).flat())]
---

<div
	id="main_menu"
	data-status>
	<div class="container">
		<div class="outer-layout-grid">
			<div
				class="nav-controller"
				role="navigation"
				aria-label="site menu nav">
				<h2>Site Navigation</h2>
				<a
					id="close_menu_btn"
					class="close-btn"
					href="#"
					aria-label="close menu">
					<div class="icon">
						<SVGClose />
					</div>
				</a>
			</div>
			<div class="navs">
				<div
					class="nav-section"
					role="navigation"
					aria-label="home nav section">
					<h3>Home</h3>
					<nav
						class="nav-links"
						aria-label="home index links">
						{
							links.map((link) => (
								<a
									class="link"
									href={`${link.url}`}>
									{link.name}
								</a>
							))
						}
					</nav>
				</div>
				<div
					class="nav-section"
					role="navigation"
					aria-label="blog nav section">
					<h3>Blog</h3>
					<nav
						class="nav-links"
						aria-label="blog links">
						<a
							class="link"
							href="/blog"
							aria-label="Blog Index"
							>Index</a
						>
						<div class="tags">
							<div class="tags-list">
								{
									blogTags.map((tag) => (
										<div class="tags-wrapper">
											<a
												class="tag"
												href={`/blog/tags/${tag}`}>
												{tag}
											</a>
										</div>
									))
								}
							</div>
						</div>
					</nav>
				</div>
				<div
					class="nav-section"
					role="navigation"
					aria-label="experiment links">
					<h3>Experiments</h3>
					<nav aria-label="Experiments Index">
						<div class="nav-links">
							<a
								class="link"
								href="/experiments"
								>Index</a
							>
						</div>
						<div class="tags">
							<div class="tags-list">
								{
									experimentTags.map((tag) => (
										<div class="tags-wrapper">
											<a
												class="tag"
												href={`/experiments/tags/${tag}`}>
												{tag}
											</a>
										</div>
									))
								}
							</div>
						</div>
					</nav>
				</div>
			</div>
			<div
				class="nav-contacts"
				role="navigation"
				aria-label="contact buttons">
				<ContactBtns class="menu">
					<a
						target="_blank"
						id="panel-menu-btn"
						class="btn alternative resume"
						href="./pdfs/terence_flowers-resume.pdf"
						>My Resume</a
					>
				</ContactBtns>
				<SocialBtns class="menu" />
			</div>
		</div>
	</div>
</div>

<style>
	h2 {
		font-size: var(--fs-400);
		font-weight: 300;
	}

	h3 {
		margin-bottom: var(--spc-sm);
	}

	a {
		color: var(--color-secondary);
	}

	.btn-wrapper {
		text-align: center;
		margin-bottom: 1em;
	}

	.nav-links {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 0.8em;
	}

	.close-btn {
		color: var(--color-secondary);
	}
	.nav-controller {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.tags {
		margin-top: var(--spc-sm);
	}

	.tag-wrapper {
		display: flex;
		gap: 8px;
	}

	.tags-list {
		display: flex;
		gap: 0.8rem;
	}

	.nav-contacts .btn.resume {
		border-radius: 0.8rem;
	}

	#main_menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-primary);
		container-name: sitenav;
		container-type: inline-size;
		opacity: 0;
		transition: 0.2s all 0.2s ease-in;
		overflow-y: scroll;
		overflow-x: hidden;
		z-index: -1;

		&[data-status='active'] {
			z-index: 100;
			opacity: 1;
			transition: 0.2s all 0.2s ease-in;
		}
	}

	#main_menu .container {
		@media (min-width: 768px) {
			padding: 0 clamp(12rem, 10vw + -0.875rem, 32rem);
		}
	}

	.outer-layout-grid {
		padding: 3rem 0 4em;
		display: grid;
		row-gap: 3rem;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-template-areas:
			'header'
			'nav'
			'contacts';

		@container sitenav (width > 768px) {
			grid-template-columns: 60% 40%;
			grid-template-rows: auto;
			grid-template-areas:
				'header header'
				'nav contacts';
		}
	}

	.nav-controller {
		grid-area: header;
		margin-bottom: var(--spc-md);
	}
	.nav {
		grid-area: nav;
	}

	.navs {
		display: grid;
		grid-template-columns: auto;
		row-gap: 3rem;
	}
	.nav-contacts {
		grid-area: contacts;
		padding-top: 2rem;

		.contact-btns .btn-wrapper {
			justify-items: stretch;
		}

		@container sitenav (width > 768px) {
			.contact-btns .btn-wrapper {
				justify-items: start;
			}
		}
	}
</style>
