---
import { getCollection } from 'astro:content'

import BaseLayout from '../../../layouts/BaseLayout.astro'
import BlogIndexLayout from '../../../layouts/BlogIndexLayout.astro'

export async function getStaticPaths() {
	const allPosts = await getCollection('blog', ({ data }) => {
		return data.published && data.pubDate < new Date()
	})

	const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

	return uniqueTags.map((tag) => {
		const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag))

		return {
			params: { tag },
			props: { posts: filteredPosts },
		}
	})
}

const { tag } = Astro.params
const capitalizedTag = tag.charAt(0).toUpperCase() + tag.slice(1)
const pageTitleString = `Blog ${capitalizedTag} Tag Index | Terence Flowers`
const { posts } = Astro.props
---

<BaseLayout
	class="blog"
	pageTitle={pageTitleString}>
	<BlogIndexLayout>
		<h1
			class="post-title"
			slot="blog-header">
			Blog {capitalizedTag} Tag Index
		</h1>
		<p slot="blog-description">Sometimes I like to write about stuff I find interesting.</p>

		{
			posts.map((post) => (
				<div class="blog-item">
					<h2>
						<a
							class="link"
							href={`/blog/${post.slug}`}>
							{post.data.title}
						</a>
					</h2>
					<div class="date">
						{new Intl.DateTimeFormat('en-US', {
							dateStyle: 'full',
						}).format(post.data.pubDate)}
					</div>
					<p>{post.data.description}</p>
				</div>
			))
		}
	</BlogIndexLayout>
</BaseLayout>
